*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

#wrapper {

	width: 1020px;
	margin: 50px auto;

}

table {

	border-collapse: collapse;
	margin: 20px 0;

}

table tr th,
table tr td {

	border: 1px solid black;
	padding: 3px 5px;

}

ol {

	padding-left: 20px;

}

ol > ol {

	margin-left: 10px;

}

ol > li {

	padding: 5px 0 5px 5px;

}

ol.level1 {

	list-style: upper-roman;

}

ol.level2 {

	list-style: upper-alpha;

}

ol.level3 {

	list-style: decimal;

}

ol > li {

	margin-right: 15px;

}